[Unit]
Description=Bostadspriser Service
After=network.target

[Service]
ExecStart=/usr/bin/start-all.sh 1
User=root
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
